<% include ./header %>
<div class="jumbotron">
    <h1>欢迎访问 好文章后台管理系统</h1>
    <p>...</p>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<% include ./footer %>
                   
