<% include ./header %>

<!-- 路径导航 -->
<ol class="breadcrumb">
    <li>
        <a href="#">栏目管理</a>
    </li>
    <li class="active">添加栏目</li>
</ol>
<!-- 路径导航 END -->


<!-- 表单 -->
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <form action="/admin/itemInsert" class="userForm" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">栏目名称</span>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">栏目介绍</span>
                    <input type="text" class="form-control" name="description">
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon">栏目排序</span>
                    <input type="text" class="form-control" name="order" value="0">
                </div>

                <div class="input-group">
                    <input type="submit">
                </div>
            </form>


        </div>
        <div class="col-md-4"></div>
    </div>

</div>
<!-- 表单 end -->








<% include ./footer %>