<% include ./header-min %>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
            <h3 style="text-align: center;line-height: 200px;">管理员登录</h3>
            <form action="/admin/doLogin" class="userForm" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">账号</span>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">验证码</span>
                    <div class="form-control">
                        <input type="text"  name="code" >
                        <a href="">  <img src="/code"> </a>
                    </div>
                </div>

                <div class="input-group">
                    <input type="submit" 登录>
                </div>
            </form>
		</div>
		<div class="col-md-4"></div>

	</div>


<% include ./footer-min %>
                   
