

        <!-- Javascript -->
        <script src="loginassets/js/jquery-1.11.1.min.js"></script>
        <script src="loginassets/bootstrap/js/bootstrap.min.js"></script>
        <script src="loginassets/js/jquery.backstretch.min.js"></script>
        <script src="loginassets/js/scripts.js"></script>
        <script src="js/myjs.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>