<footer>
    <small>&copy; 2013 Inbetwin Network. All rights reserved.Collect from <a href="http://www.cssmoban.com/" target="_blank" title="zhouxun">zhouxun</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="zhouxun">zhouxun</a></small>
  </footer>
</div>
<!-- ./container -->
</div>
<!-- Loading the javaScript at the end of the page -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/myjs.js"></script>

<!--ANALYTICS CODE-->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29231762-1']);
_gaq.push(['_setDomainName', 'dzyngiri.com']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>