<% include ../admin/header %>

    <h1>这是测试的路由</h1>

    <ul>
        <li>    
            <a href="/test/adminAdd">添加管理员</a>
        </li>
        <li>    
            <a href="/test/code">验证码</a>
        </li>
    </ul>

<% include ../admin/footer %>